

.modal__title{
    font-size: 25px;
    margin: 0;
    padding-bottom: 3px;
    text-align: center;
    color: #fff;
}


.modal__img{
    display: block;
    height: 250px; 
    width: 400px;
    margin: 0 auto;
    margin-top: 20px;
}

.text__container{
    text-align: center;
}

.modal__bg{
    height: 100%;
    width: 100%;
    background: #000;
    opacity: 70%;
    position: absolute;
    top: 0;
    z-index: 1;
}

p{
    font-size: 20px;
    color: #fff;
}