.fav__title{
    text-align: center;
    color: black;
}
.name{
    color: black;
}
.fav__list{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}
.favs__item{
    border: 5px solid #2c4a52;
    border-radius: 10px;
    padding: 10px;
    margin-top: 25px;
}
.container{
    max-width: 1500px;
    margin: 0 auto;
}