.modal-window {
  border: 0;
  border-radius: 0;
  color: #f1f0f0;
  text-align: center;
  .modal-header {
    border: 0;
    border-radius: 0;
  }
  .modal-body {
    border: 0;
    border-radius: 0;
    padding: 40px;
    padding-bottom: 20px;
  }
  .modal-footer {
    border: 0;
    border-radius: 0;
    display: flex;
    justify-content: center;
    padding: 0;
    padding-bottom: 20px;
    .modal-button-left,
    .modal-button-right {
      border-radius: 0.2em;
      width: 23%;
      background-color: rgba(0, 0, 0, 0.3);
      border: 0;
    }
    .modal-button-right {
      margin-left: 10px;
    }
  }
}

.modal-button-flex {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 10px;
}

.cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 900px;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  .card {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    border: 3px solid #8e9b97;
    background-color: #fff;
    img {
      height: 200px;
      width: 200px;
    }
    .title {
      margin: 10px;
      span {
        margin: 2px;
        color: rgb(45, 68, 158);
      }
      .price {
        padding: {
          left: 2px;
          right: 2px;
        }

        color: #000;
      }
    }
  }
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  .yellow {
    fill: yellow;
  }
}

header {
  display: flex;
  justify-content: center;

  font-size: 20px;
  align-items: center;
  margin: {
    top: 20px;
    bottom: 20px;
  }
  a {
    text-decoration: none;
    color: #000;
  }
}

.cross-svg:hover {
  cursor: pointer;
}
