.circle__icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #000;
}
.price{
    font-weight: 600;
    color: black;
}

.card__footer{
    display: flex;
    justify-content: space-between;
}
