.modal__title{
    font-size: 25px;
    margin: 0;
    padding-bottom: 3px;
    text-align: center;
    color: #fff;
}


.text__container{
    text-align: center;
}

.modal__bg{
    height: 100%;
    width: 100%;
    background: #000;
    opacity: 70%;
    position: fixed;
    top: 0;
    z-index: 1;
}

p{
    font-size: 20px;
    color: #fff;
}