.title{
    text-align: center;
    color: #000;
}

.container{
    max-width: 1500px;
    margin: 0 auto;
}


.first_modal__wrapper{
    width: 700px;
    top: 10%;
    left: calc(50% - 350px);
    position: fixed;
    margin: 0 auto;
    background: #8e9b97;
    z-index: 2;

    
}
.modal__header{
    background: rgba(22, 20, 20, 0.357);
}
.second_modal__wrapper{
    width: 700px;
    top: 10%;
    left: calc(50% - 350px);
    position: fixed;
    margin: 0 auto;
    background: rgb(7, 120, 24);
    z-index: 2;
}
.button__container{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    width: 500px;
    height: 300px;
    margin: 0 auto;
    margin-top: 350px;
    position: relative;
}


.pop_up_button__container{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.pop_up__button{
    background: #537072;
    color: #fff;
    margin-left: 15px;
    width: 100px;
    height: 45px;
    border: none;
    border-radius: 10px;
}