.header__page {
  background-color: #8e9b97;
}

.icons__container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 50px;
}
.star__icon {
  margin-right: 25px;
  width: 30px;
  height: 30px;
}

.car__icon {
  width: 50px;
  height: 50px;
}
.favs__ammount{
  position: relative;
  left: -25px;
}

.cart__ammount{
  position: relative; 
  top: -10px;
  left: 3px;
}