.cards__list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

.cards__item{
    border: 5px solid #2c4a52;
    border-radius: 10px;
    padding: 10px;
    margin-top: 25px;
}

.add__button{
    font-weight: 600;
    color: #fff;
    background: #537072;
    font-size: 18px;
    border: none;
    padding: 25px;
    border: 1px solid #d3d3d3;
    text-align: center;
}